@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.Connectbar {
  background-color: #000000;

  color: white;
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Connect {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  flex-grow: 2;
  padding-left: 10vw;
}
.Iconsgroup {
  display: flex;

  flex-grow: 8;
  flex-direction: row;
}
